## Data Transformation: Table Unemployment

### Datasets used:
- US unemployment data

In [22]:
import pandas as pd

Load data to notebook

In [23]:
#Load data with pandas
unemployment = pd.read_csv("unemployment_rate_data.csv", encoding='cp1252')

Visualize data

In [24]:
unemployment.head(2)

,date,unrate,unrate_men,unrate_women,unrate_16_to_17,unrate_18_to_19,unrate_20_to_24,unrate_25_to_34,unrate_35_to_44,unrate_45_to_54,unrate_55_over
0,1/1/1948,4.0,4.2,3.5,10.8,9.6,6.6,3.6,2.6,2.7,3.6
1,2/1/1948,4.7,4.7,4.8,15.0,9.5,8.0,4.0,3.2,3.4,4.0

Cleaning data

In [25]:
#Check missing data
print("Shape:\n", unemployment.shape, "\n\nInfo:")
print(unemployment.info()) # there are no null values in complete df

Shape:
 (887, 11)

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 887 entries, 0 to 886
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   date             887 non-null    object
 1   unrate           887 non-null    float64
 2   unrate_men       887 non-null    float64
 3   unrate_women     887 non-null    float64
 4   unrate_16_to_17  887 non-null    float64
 5   unrate_18_to_19  887 non-null    float64
 6   unrate_20_to_24  887 non-null    float64
 7   unrate_25_to_34  887 non-null    float64
 8   unrate_35_to_44  887 non-null    float64
 9   unrate_45_to_54  887 non-null    float64
 10  unrate_55_over   887 non-null    float64
dtypes: float64(10), object(1)
memory usage: 76.4+ KB
None

In [26]:
#Cleaning Unemployment dataFrame

#Drop columns
unemployment = unemployment.drop(labels=(["unrate_16_to_17", "unrate_18_to_19",	"unrate_20_to_24",	"unrate_25_to_34",	"unrate_35_to_44",	"unrate_45_to_54",	"unrate_55_over"]), axis=1)

#Rename columns
unemployment.columns = ['date', 'unrate', "unrateMen", "unrateWomen"]

#Keeping data for 2018 - 2021
unemployment['year'] = pd.DatetimeIndex(unemployment['date']).year # get just the year
# print(unemployment['year'].unique())

values = [2018, 2019, 2020, 2021]
unemployment = unemployment[unemployment.year.isin(values) == True]

unemployment2 = unemployment.groupby(["year"])["unrate", "unrateMen", "unrateWomen"].sum()
unemployment2 = unemployment2.reset_index(level=[0])
unemployment2

/var/folders/8h/nd9bcmz12yndbs6hsp0s9w8r0000gn/T/ipykernel_2241/3215444533.py:16: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  unemployment2 = unemployment.groupby(["year"])["unrate", "unrateMen", "unrateWomen"].sum()

   year  unrate  unrateMen  unrateWomen
0  2018    46.8       47.4         46.0
1  2019    44.0       44.7         43.4
2  2020    97.1       93.7        100.6
3  2021    60.7       61.7         59.2

Generate the csv output

In [27]:
unemployment2.to_csv("unemployment.csv", sep=',')