## Data Transformation: Table GDP

### Datasets used:
- US Per capita GDP by state

In [1]:
import pandas as pd

Load data to notebook

In [10]:
#Load data with pandas
gdp = pd.read_csv("global_gdp.csv")

Visualize data

In [11]:
gdp.head()

,Series Name,Series Code,Country Name,Country Code,2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021]
0,"Population, total",SP.POP.TOTL,Afghanistan,AFG,31161378,32269592,33370804,34413603,35383028,36296111,37171922,38041757,38928341,..
1,"Population, total",SP.POP.TOTL,Albania,ALB,2900401,2895092,2889104,2880703,2876101,2873457,2866376,2854191,2837849,..
2,"Population, total",SP.POP.TOTL,Algeria,DZA,37383899,38140135,38923688,39728020,40551398,41389174,42228415,43053054,43851043,..
3,"Population, total",SP.POP.TOTL,American Samoa,ASM,55669,55717,55791,55806,55739,55617,55461,55312,55197,..
4,"Population, total",SP.POP.TOTL,Andorra,AND,82427,80770,79213,77993,77295,76997,77008,77146,77265,..

Cleaning data