## Data Transformation: Table GDP

### Datasets used:
- US Per capita GDP by state

In [33]:
import pandas as pd

Load data to notebook

In [34]:
#Load data with pandas
gdp = pd.read_excel("global_gdp.xlsx")

Visualize data

In [35]:
gdp.head() #data available since 1985

   year       GDP
0  1985  12516.95
1  1986  14767.22
2  1987  17008.02
3  1988  19111.66
4  1989  20102.49

Cleaning data

In [36]:
#Check missing data
print("gdp df:")
print("Shape:\n", gdp.shape, "\n\nInfo:")
print(gdp.info()) # there are no null values in complete df

gdp df:
Shape:
 (42, 2)

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   year    42 non-null     int64
 1   GDP     42 non-null     float64
dtypes: float64(1), int64(1)
memory usage: 800.0 bytes
None

In [37]:
#Cleaning GDP dataFrame

#Keeping data for 2018 - 2021
values = [2018, 2019, 2020, 2021]
gdp = gdp[gdp.year.isin(values) == True].reset_index()
gdp = gdp.drop(labels=(["index"]), axis=1)

print(gdp['year'].unique())

[2018 2019 2020 2021]

In [38]:
gdp

   year       GDP
0  2018  85883.45
1  2019  87390.79
2  2020  84971.65
3  2021  94935.11

Generate the csv output

In [39]:
gdp.to_csv("gdp.csv", sep=',')