## Data Transformation: Table Hospitals

### Datasets used:
- Hospitals bed capacity by state and county
- Hospital Charges in US

In [2]:
import pandas as pd

Load data to notebook

In [25]:
#Load data with pandas
bedCapacity = pd.read_csv("hospital_beds_USA.csv")
hospitalCharges = pd.read_csv("hospital-charges.csv")

Visualize data

In [6]:
bedCapacity.head(2)

,country,state,county,lat,lng,type,measure,beds,population,year,source,source_url
0,US,AK,aleutians east,63.588753,-154.493062,ICU,1000HAB,0.0,3338,2019,khn,https://khn.org/news/as-coronavirus-spreads-wi...
1,US,AK,aleutians west,63.588753,-154.493062,ICU,1000HAB,0.0,5784,2019,khn,https://khn.org/news/as-coronavirus-spreads-wi...

In [7]:
hospitalCharges.head(2)

,DRG Definition,Provider Id,Provider Name,Provider Street Address,Provider City,Provider State,Provider Zip Code,Hospital Referral Region Description,Total Discharges,Average Covered Charges,Average Total Payments,Average Medicare Payments
0,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,10001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,AL - Dothan,91,$32963.07,$5777.24,$4763.73
1,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,10005,MARSHALL MEDICAL CENTER SOUTH,2505 U S HIGHWAY 431 NORTH,BOAZ,AL,35957,AL - Birmingham,14,$15131.85,$5787.57,$4976.71

Cleaning data

In [26]:
#Cleaning Bed Capacity dataFrame

#Keeping data just for 2020
bedCapacity = (bedCapacity[bedCapacity.year == 2020]).reset_index() # there's no info available for all states in 2020
# print(bedCapacity['state'].unique())

#Drop columns
bedCapacity = bedCapacity.drop(labels=(["index", "year", "country", "county", "lat", "lng", "measure", "source", "source_url"]), axis=1)
bedCapacity

  state         type      beds  population
0    KS          ICU  3.998667        3001
1    KS          ICU  1.078144       23188
2    KY        ACUTE  4.646567       37447
3    MO  PSYCHIATRIC  1.207716       89425
4    ND        ACUTE  2.714932        4420
5    WY  PSYCHIATRIC  0.890274       13479

In [29]:
#Cleaning Hospital Charges dataFrame

#There's no year so we'll asume is data for 2020
#Drop columns
hospitalCharges = hospitalCharges.drop(labels=(["DRG Definition", "Provider Id", "Provider Street Address", "Provider City", "Provider Zip Code", "Hospital Referral Region Description", "Average Medicare Payments"]), axis=1)

#Rename columns
hospitalCharges.columns = ['hospitalName', 'state', "totalDischarges", "averageCoveredCharges", "averageTotalPayments"]
hospitalCharges.head(1)

## ----> the data is by hospital but I don't know whether to leave it by hospital or group them by state.

,hospitalName,state,totalDischarges,averageCoveredCharges,averageTotalPayments
0,SOUTHEAST ALABAMA MEDICAL CENTER,AL,91,$32963.07,$5777.24
1,MARSHALL MEDICAL CENTER SOUTH,AL,14,$15131.85,$5787.57
2,ELIZA COFFEE MEMORIAL HOSPITAL,AL,24,$37560.37,$5434.95
3,ST VINCENT'S EAST,AL,25,$13998.28,$5417.56
4,SHELBY BAPTIST MEDICAL CENTER,AL,18,$31633.27,$5658.33
...,...,...,...,...,...
163060,SETON MEDICAL CENTER WILLIAMSON,TX,23,$26314.39,$3806.86
163061,METHODIST STONE OAK HOSPITAL,TX,11,$21704.72,$4027.36
163062,SETON MEDICAL CENTER HAYS,TX,19,$39121.73,$5704.36
163063,TEXAS REGIONAL MEDICAL CENTER AT SUNNYVALE,TX,11,$28873.09,$7663.09
163064,TEXAS HEALTH PRESBYTERIAN HOSPITAL FLOWER MOUND,TX,12,$15042.00,$3539.75

Merge to get the final table

In [ ]:
hospitals = pd.merge(bedCapacity, hospitalCharges, how='inner', left_on = 'state', right_on = 'state')
hospitals.to_csv("hospitals.csv", sep=',') # generate csv