## Data Transformation: Table Hospitals

### Datasets used:
- Hospitals bed capacity by state and county
- Hospital Charges in US

In [175]:
import pandas as pd

Load data to notebook

In [176]:
#Load data with pandas
bedCapacity = pd.read_csv("hospital_beds_USA.csv")
hospitalCharges = pd.read_csv("hospital-charges.csv")

Visualize data

In [177]:
bedCapacity.head(1)

,country,state,county,lat,lng,type,measure,beds,population,year,source,source_url
0,US,AK,aleutians east,63.588753,-154.493062,ICU,1000HAB,0.0,3338,2019,khn,https://khn.org/news/as-coronavirus-spreads-wi...

Cleaning data

In [178]:
#Cleaning Bed Capacity dataFrame
#Keeping data just for 2020
bedCapacity = (bedCapacity[bedCapacity.year == 2019]).reset_index() # there's no info available for all states in 2020
#Drop columns
bedCapacity = bedCapacity.drop(labels=(["country", "county", "lat", "lng", "measure", "source", "source_url", "index", "year"]), axis=1)
# group by state and type of bed
bedCapacity = bedCapacity.groupby(["state"]).sum().reset_index()

In [179]:
bedCapacity.head()

  state       beds  population
0    AK   4.789014      966872
1    AL  11.967593     4731663
2    AR   8.403947     2583665
3    AZ   2.050268     6630442
4    CA   8.182707    38982847

In [180]:
hospitalCharges.head(1)

,DRG Definition,Provider Id,Provider Name,Provider Street Address,Provider City,Provider State,Provider Zip Code,Hospital Referral Region Description,Total Discharges,Average Covered Charges,Average Total Payments,Average Medicare Payments
0,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,10001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,AL - Dothan,91,$32963.07,$5777.24,$4763.73

In [181]:
#Cleaning Hospital Charges dataFrame

#There's no year so we'll asume is data for 2020
#Drop columns
hospitalCharges = hospitalCharges.drop(labels=(["DRG Definition", "Provider Id", "Provider Street Address", "Provider City", 
                                        "Provider Zip Code", "Hospital Referral Region Description", "Average Medicare Payments", 
                                        "Provider Name"]), axis=1)
#Rename columns
hospitalCharges.columns = ['state', "totalDischarges", "averageCoveredCharges", "averageTotalPayments"]

In [182]:
hospitalCharges.head()

  state  totalDischarges averageCoveredCharges averageTotalPayments
0    AL               91             $32963.07             $5777.24
1    AL               14             $15131.85             $5787.57
2    AL               24             $37560.37             $5434.95
3    AL               25             $13998.28             $5417.56
4    AL               18             $31633.27             $5658.33

In [183]:
hospitalCharges["averageCoveredCharges"] = hospitalCharges["averageCoveredCharges"].str.replace("$","").astype("float")
hospitalCharges["averageTotalPayments"] = hospitalCharges["averageTotalPayments"].str.replace("$","").astype("float")
hospitalCharges = hospitalCharges.groupby("state").mean().reset_index()

/var/folders/v9/ht091ynx22b0px9p_xx3ktqc0000gn/T/ipykernel_34036/3456981773.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  hospitalCharges["averageCoveredCharges"] = hospitalCharges["averageCoveredCharges"].str.replace("$","").astype("float")
/var/folders/v9/ht091ynx22b0px9p_xx3ktqc0000gn/T/ipykernel_34036/3456981773.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  hospitalCharges["averageTotalPayments"] = hospitalCharges["averageTotalPayments"].str.replace("$","").astype("float")

Merge to get the final table

In [184]:
hospitals = bedCapacity.join(hospitalCharges.set_index("state"), on="state")
# hospitals.to_csv("hospitals.csv", sep=',') # generate csv

In [185]:
hospitals.head()

,state,beds,population,totalDischarges,averageCoveredCharges,averageTotalPayments
0,AK,4.789014,966872,26.588745,40348.743333,14572.391732
1,AL,11.967593,4731663,39.258322,31316.462074,7568.232149
2,AR,8.403947,2583665,41.978229,26174.526246,8019.248805
3,AZ,2.050268,6630442,36.690284,41200.063020,10154.528211
4,CA,8.182707,38982847,36.357854,67508.616536,12629.668472
5,CO,4.159082,4640885,32.444444,41095.136111,9502.685550
6,CT,2.157418,5354022,47.865738,31318.410114,11365.450671
7,DC,0.466990,672391,43.954545,40116.663658,12998.029416
8,DE,0.558183,943732,67.901015,27071.699645,10360.072411
9,FL,12.315425,20278447,48.127208,46016.233587,8826.990436
10,GA,20.157662,9736487,38.494767,31096.932842,8925.793915
11,HI,0.520208,1421658,26.497738,32174.748077,12775.739525
12,IA,4.386061,1886498,39.667820,24168.742042,8312.571707
13,ID,2.516173,1597117,33.203267,25565.547042,9827.180091
14,IL,9.060001,11312822,45.720445,36061.849879,9790.676097
15,IN,11.234091,5553596,42.857512,28144.712545,8756.082533
16,KS,6.782206,2439525,37.728938,31580.253663,8455.476422
17,KY,16.519195,3966829,47.250542,24523.807169,8278.588845
18,LA,9.872175,4663461,36.298646,33085.372792,8638.662577
19,MA,2.144799,6789319,50.411244,20534.006713,10279.981536
20,MD,3.508960,5996079,51.955255,13377.803790,12608.947664
21,ME,27.528036,2836317,37.290541,20394.957568,8679.994977
22,MI,11.808355,9256726,54.539952,24124.247210,9754.420406
23,MN,5.658129,4237839,42.480462,27894.361821,9948.236963
24,MO,10.781061,5376886,44.056664,31184.622902,8724.631271
25,MS,11.363654,2564095,38.681743,30292.785203,8229.164826
26,MT,3.571003,609018,31.037549,22670.015237,9252.802767
27,NC,15.006825,10038356,51.043841,25140.952162,9089.435711
28,ND,1.800766,431894,38.921801,21636.883460,9827.638033
29,NE,4.385605,1458310,37.475518,31736.427825,9331.682524
30,NH,1.937659,1331848,34.530984,27059.020802,9289.661823
31,NJ,5.342430,9103731,52.052839,66125.686274,10678.988647
32,NM,2.960478,1620289,29.362050,30011.406499,9619.841091
33,NV,1.748019,2873396,35.440932,61047.115416,10291.718028
34,NY,8.382213,19164551,47.456635,31435.685543,11795.492052
35,OH,11.948555,10208692,41.852824,28344.218547,8808.127651
36,OK,7.896221,3473972,38.607937,29587.575266,8353.641036
37,OR,3.407778,3658297,30.443418,27390.111871,10436.192864
38,PA,14.260610,12790505,40.355715,39633.959763,9100.043218
39,RI,0.720353,1056138,37.906463,29942.701122,10509.566854
40,SC,7.950473,4843956,42.638918,35862.494563,9132.420759
41,SD,2.378135,547780,41.376543,29609.991543,10141.688004
42,TN,12.886517,6418018,45.361084,29279.931835,8153.950854
43,TX,27.502458,25918960,40.453388,41480.193404,9243.979573
44,UT,2.713359,3457743,31.491803,25092.806872,9749.907077
45,VA,25.947822,8260121,44.644275,29222.000487,8887.752177
46,VT,1.019483,377375,37.300000,20074.958333,11766.304481
47,WA,2.495058,6083428,38.520878,34714.234075,10543.151652
48,WI,8.461720,5361872,35.309809,26149.325332,9270.705618
49,WV,8.690672,1436549,40.886092,19191.508634,7968.480245
50,WY,2.163612,432677,26.457490,28700.598623,11398.485911