## Data Transformation: Table Mask-Use

### Datasets used:
- Mask use by state and cunty

In [59]:
import pandas as pd

Load data to notebook

In [60]:
#Load data with pandas
maskUse = pd.read_csv("mask-use-by-county.csv")
counties = pd.read_csv("counties_fips.csv")

Visualize data

In [61]:
#Data available just for 2020
maskUse.head(2) # There's no state

   COUNTYFP  NEVER  RARELY  SOMETIMES  FREQUENTLY  ALWAYS
0      1001  0.053   0.074      0.134       0.295   0.444
1      1003  0.083   0.059      0.098       0.323   0.436

In [62]:
counties.head()

   FIPS County or equivalent State or equivalent
0  1001       Autauga County             Alabama
1  1003       Baldwin County             Alabama
2  1005       Barbour County             Alabama
3  1007          Bibb County             Alabama
4  1009        Blount County             Alabama

Cleaning data

In [63]:
#Check missing data
print("maskUse df:")
print("Shape:\n", maskUse.shape, "\n\nInfo:")
print(maskUse.info()) # there are no null values in complete df

maskUse df:
Shape:
 (3142, 6)

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3142 entries, 0 to 3141
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   COUNTYFP    3142 non-null   int64
 1   NEVER       3142 non-null   float64
 2   RARELY      3142 non-null   float64
 3   SOMETIMES   3142 non-null   float64
 4   FREQUENTLY  3142 non-null   float64
 5   ALWAYS      3142 non-null   float64
dtypes: float64(5), int64(1)
memory usage: 147.4 KB
None

In [64]:
#Check missing data
print("counties df:")
print("Shape:\n", counties.shape, "\n\nInfo:")
print(counties.info()) # there are no null values in complete df

counties df:
Shape:
 (3232, 3)

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3232 entries, 0 to 3231
Data columns (total 3 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   FIPS                  3232 non-null   int64
 1   County or equivalent  3232 non-null   object
 2   State or equivalent   3232 non-null   object
dtypes: int64(1), object(2)
memory usage: 75.9+ KB
None

In [65]:
#Cleaning counties dataFrame

#Drop columns
counties = counties.drop(labels=(["County or equivalent"]), axis=1)

#Rename columns
counties.columns = ['FIPS', 'STATE']
counties

       FIPS    STATE
0      1001  Alabama
1      1003  Alabama
2      1005  Alabama
3      1007  Alabama
4      1009  Alabama
...     ...      ...
3227  56037  Wyoming
3228  56039  Wyoming
3229  56041  Wyoming
3230  56043  Wyoming
3231  56045  Wyoming

[3232 rows x 2 columns]

Merge to get final df

In [66]:
maskUse2020 = pd.merge(maskUse, counties, how='inner', left_on = 'COUNTYFP', right_on = 'FIPS')

#Drop columns
maskUse2020 = maskUse2020.drop(labels=(["FIPS", "COUNTYFP"]), axis=1)

#Group by state
maskUse2020st = maskUse2020.groupby(["STATE"])["NEVER", "RARELY", "SOMETIMES", "FREQUENTLY", "ALWAYS"].sum()
maskUse2020st = maskUse2020st.reset_index(level=[0])
maskUse2020st

/var/folders/8h/nd9bcmz12yndbs6hsp0s9w8r0000gn/T/ipykernel_16511/4143116090.py:7: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  maskUse2020st = maskUse2020.groupby(["STATE"])["NEVER", "RARELY", "SOMETIMES", "FREQUENTLY", "ALWAYS"].sum()

                   STATE   NEVER  RARELY  SOMETIMES  FREQUENTLY   ALWAYS
0                Alabama   5.465   5.433      9.823      14.428   31.846
1                 Alaska   1.599   1.832      2.606       9.660   13.299
2                Arizona   0.745   0.798      1.420       2.210    9.825
3               Arkansas   6.819   6.544     10.377      16.547   34.715
4             California   1.874   1.782      3.694       9.199   41.449
5               Colorado   2.506   4.604      6.225      15.637   35.036
6            Connecticut   0.140   0.184      0.429       1.011    6.236
7               Delaware   0.058   0.020      0.182       0.287    2.453
8   District of Columbia   0.012   0.013      0.069       0.164    0.743
9                Florida   3.702   3.854      7.393      13.018   39.031
10               Georgia  13.250  12.462     20.057      31.767   81.458
11                Hawaii   0.081   0.094      0.167       0.583    4.075
12                 Idaho   4.566   6.371      6.370       9.673   17.021
13              Illinois   7.372   7.274     12.941      22.388   52.028
14               Indiana   7.921   8.872     11.999      21.797   41.420
15                  Iowa  10.328  11.615     16.575      21.256   39.224
16                Kansas  12.273  12.279     15.867      23.044   41.537
17              Kentucky  10.360   9.975     15.731      24.959   58.968
18             Louisiana   5.269   4.637      7.322      13.258   33.514
19                 Maine   0.760   0.943      1.601       3.220    9.478
20              Maryland   0.550   0.502      1.237       3.884   17.826
21         Massachusetts   0.273   0.165      0.562       1.836   11.162
22              Michigan   3.718   5.085      8.324      18.167   47.709
23             Minnesota   8.978  10.643     13.546      21.152   32.671
24           Mississippi   5.561   6.928      9.802      16.501   43.204
25              Missouri  15.417  14.624     17.440      24.212   43.304
26               Montana   8.448   9.609      8.114      12.048   17.782
27              Nebraska  11.514  10.947     13.555      24.302   32.685
28                Nevada   0.498   0.711      1.815       3.291   10.687
29         New Hampshire   0.551   0.576      0.735       1.876    6.263
30            New Jersey   0.481   0.446      1.038       3.316   15.717
31            New Mexico   1.392   1.638      2.594       5.270   22.110
32              New York   1.416   1.392      3.062       8.387   47.736
33        North Carolina   5.378   4.656      9.803      19.832   60.331
34          North Dakota   9.592   8.693      7.734      13.346   13.634
35                  Ohio   8.048   8.950     13.224      19.156   38.619
36              Oklahoma   7.728   9.301     12.831      17.407   29.730
37                Oregon   1.320   1.764      3.082       6.775   23.055
38          Pennsylvania   2.401   2.371      5.779      11.434   45.022
39          Rhode Island   0.061   0.048      0.200       0.680    4.010
40        South Carolina   4.468   3.245      5.027       8.752   24.510
41          South Dakota   9.789   6.934     11.001      14.460   23.822
42             Tennessee  10.454   9.629     14.436      19.905   40.583
43                 Texas  13.180  15.158     24.687      47.921  153.050
44                  Utah   2.699   2.812      3.430       7.884   12.173
45               Vermont   0.635   1.229      0.970       1.927    9.240
46              Virginia   5.569   6.175     12.771      23.653   84.831
47            Washington   1.478   1.516      2.756       7.114   26.125
48         West Virginia   4.734   4.239      7.483      12.014   26.533
49             Wisconsin   6.252   7.347     10.466      16.727   31.212
50               Wyoming   3.487   3.611      2.829       5.336    7.738

Generate csv

In [67]:
maskUse2020st.to_csv("maskUse.csv", sep=',')