In [2]:
import pandas as pd

### Data Integration

In [7]:
#Read data
# Question 6
maskUsedf = pd.read_csv('mask-use-by-county.csv')
covidInUS = pd.read_csv('us_counties_covid19_daily.csv')

q1 = pd.concat([maskUsedf, covidInUS], axis=1)
q1

# Question 7


# Question 8


# Question 9


# Question 10

,COUNTYFP,NEVER,RARELY,SOMETIMES,FREQUENTLY,ALWAYS,date,county,state,fips,cases,deaths
0,1001.0,0.053,0.074,0.134,0.295,0.444,2020-01-21,Snohomish,Washington,53061.0,1,0.0
1,1003.0,0.083,0.059,0.098,0.323,0.436,2020-01-22,Snohomish,Washington,53061.0,1,0.0
2,1005.0,0.067,0.121,0.120,0.201,0.491,2020-01-23,Snohomish,Washington,53061.0,1,0.0
3,1007.0,0.020,0.034,0.096,0.278,0.572,2020-01-24,Cook,Illinois,17031.0,1,0.0
4,1009.0,0.053,0.114,0.180,0.194,0.459,2020-01-24,Snohomish,Washington,53061.0,1,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
800432,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-05,Sweetwater,Wyoming,56037.0,2098,10.0
800433,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-05,Teton,Wyoming,56039.0,1739,2.0
800434,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-05,Uinta,Wyoming,56041.0,1187,5.0
800435,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-05,Washakie,Wyoming,56043.0,519,8.0
800436,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-05,Weston,Wyoming,56045.0,419,2.0

In [6]:
maskUsedf

      COUNTYFP  NEVER  RARELY  SOMETIMES  FREQUENTLY  ALWAYS
0         1001  0.053   0.074      0.134       0.295   0.444
1         1003  0.083   0.059      0.098       0.323   0.436
2         1005  0.067   0.121      0.120       0.201   0.491
3         1007  0.020   0.034      0.096       0.278   0.572
4         1009  0.053   0.114      0.180       0.194   0.459
...        ...    ...     ...        ...         ...     ...
3137     56037  0.061   0.295      0.230       0.146   0.268
3138     56039  0.095   0.157      0.160       0.247   0.340
3139     56041  0.098   0.278      0.154       0.207   0.264
3140     56043  0.204   0.155      0.069       0.285   0.287
3141     56045  0.142   0.129      0.148       0.207   0.374

[3142 rows x 6 columns]

In [9]:
covidInUS

              date      county       state     fips  cases  deaths
0       2020-01-21   Snohomish  Washington  53061.0      1     0.0
1       2020-01-22   Snohomish  Washington  53061.0      1     0.0
2       2020-01-23   Snohomish  Washington  53061.0      1     0.0
3       2020-01-24        Cook    Illinois  17031.0      1     0.0
4       2020-01-24   Snohomish  Washington  53061.0      1     0.0
...            ...         ...         ...      ...    ...     ...
800432  2020-12-05  Sweetwater     Wyoming  56037.0   2098    10.0
800433  2020-12-05       Teton     Wyoming  56039.0   1739     2.0
800434  2020-12-05       Uinta     Wyoming  56041.0   1187     5.0
800435  2020-12-05    Washakie     Wyoming  56043.0    519     8.0
800436  2020-12-05      Weston     Wyoming  56045.0    419     2.0

[800437 rows x 6 columns]