## Data Transformation: Table Lockdown

### Datasets used:
- US lockdown by state and county

In [1]:
import pandas as pd

Load data to notebook

In [2]:
#Load data with pandas
lockcdown = pd.read_csv("lockdown_us.csv")

Visualize data

In [3]:
lockcdown.head()

         Country       State      County        Date              Type
0  United States     Alabama         NaN  2020-04-04      Stay at home
1  United States     Alabama  Birmingham  2020-03-24  Shelter in place
2  United States      Alaska         NaN  2020-03-28      Stay at home
3  United States     Arizona         NaN  2020-03-31      Stay at home
4  United States  California         NaN  2020-03-19      Stay at home

Cleaning data

In [7]:
#Cleaning Lockdown  dataFrame

#Keeping data just for 2020
# lockcdown['year'] = pd.DatetimeIndex(lockcdown['Date']).year # get just the year
# print(lockcdown['year'].unique())

#Drop columns
# lockcdown = lockcdown.drop(labels=(["Country", "County"]), axis=1)
lockcdown

# print(lockcdown['State'].unique())

             State        Date              Type  year
0          Alabama  2020-04-04      Stay at home  2020
1          Alabama  2020-03-24  Shelter in place  2020
2           Alaska  2020-03-28      Stay at home  2020
3          Arizona  2020-03-31      Stay at home  2020
4       California  2020-03-19      Stay at home  2020
..             ...         ...               ...   ...
168       Virginia  2020-03-30      Stay at home  2020
169     Washington  2020-03-23      Stay at home  2020
170  West Virginia  2020-03-24      Stay at home  2020
171      Wisconsin  2020-03-25      Stay at home  2020
172        Wyoming  2020-03-28      Stay at home  2020

[173 rows x 4 columns]