## Data Transformation: Table Lockdown

### Datasets used:
- US lockdown by state and county

In [58]:
import pandas as pd

Load data to notebook

In [59]:
#Load data with pandas
lockcdown = pd.read_csv("lockdown_us.csv")

Visualize data

In [60]:
lockcdown.head()

         Country       State      County        Date              Type
0  United States     Alabama         NaN  2020-04-04      Stay at home
1  United States     Alabama  Birmingham  2020-03-24  Shelter in place
2  United States      Alaska         NaN  2020-03-28      Stay at home
3  United States     Arizona         NaN  2020-03-31      Stay at home
4  United States  California         NaN  2020-03-19      Stay at home

Cleaning data

In [61]:
#Check missing data
print("lockcdown df:")
print("Shape:\n", lockcdown.shape, "\n\nInfo:")
print(lockcdown.info()) # there are no null values in complete df

lockcdown df:
Shape:
 (173, 5)

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 173 entries, 0 to 172
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  173 non-null    object
 1   State    173 non-null    object
 2   County   129 non-null    object
 3   Date     173 non-null    object
 4   Type     173 non-null    object
dtypes: object(5)
memory usage: 6.9+ KB
None

In [62]:
#Cleaning Lockdown  dataFrame

# print(lockcdown['Country'].unique())

#Keeping data just for 2020
lockcdown['year'] = pd.DatetimeIndex(lockcdown['Date']).year # get just the year
# print(lockcdown['year'].unique())

#Drop columns
lockcdown = lockcdown.drop(labels=(["Country", "County"]), axis=1)
lockcdown

             State        Date              Type  year
0          Alabama  2020-04-04      Stay at home  2020
1          Alabama  2020-03-24  Shelter in place  2020
2           Alaska  2020-03-28      Stay at home  2020
3          Arizona  2020-03-31      Stay at home  2020
4       California  2020-03-19      Stay at home  2020
..             ...         ...               ...   ...
168       Virginia  2020-03-30      Stay at home  2020
169     Washington  2020-03-23      Stay at home  2020
170  West Virginia  2020-03-24      Stay at home  2020
171      Wisconsin  2020-03-25      Stay at home  2020
172        Wyoming  2020-03-28      Stay at home  2020

[173 rows x 4 columns]

In [63]:
print(lockcdown['Type'].unique(), "\n")
print(lockcdown['Type'].value_counts())

# checking datatype
print(type(lockcdown.Date[0]))
 
# convert to date
lockcdown['Date'] = pd.to_datetime(lockcdown['Date'])

# order data by date
lockcdown = lockcdown.sort_values(by='Date')
lockcdown

['Stay at home' 'Shelter in place' 'Curfew']

Stay at home        135
Shelter in place     37
Curfew                1
Name: Type, dtype: int64
<class 'str'>

              State       Date              Type  year
116     Puerto Rico 2020-03-15            Curfew  2020
4        California 2020-03-19      Stay at home  2020
34          Georgia 2020-03-20  Shelter in place  2020
35          Georgia 2020-03-20  Shelter in place  2020
55      Mississippi 2020-03-21  Shelter in place  2020
..              ...        ...               ...   ...
85         Oklahoma 2020-04-05  Shelter in place  2020
80         Oklahoma 2020-04-06      Stay at home  2020
56         Missouri 2020-04-06      Stay at home  2020
79         Oklahoma 2020-04-07      Stay at home  2020
118  South Carolina 2020-04-07      Stay at home  2020

[173 rows x 4 columns]

In [70]:
# Sacar el más común de cada estado ; tabla con cada estado y un solo tipo de encierro
# print(lockcdown['Type'].mode())
lockcdown = lockcdown.groupby('State')['Type'].apply(lambda x: x.value_counts().index[0]).reset_index()
lockcdown

                   State              Type
0                Alabama  Shelter in place
1                 Alaska      Stay at home
2                Arizona      Stay at home
3             California      Stay at home
4               Colorado      Stay at home
5            Connecticut      Stay at home
6               Delaware  Shelter in place
7   District of Columbia      Stay at home
8                Florida      Stay at home
9                Georgia  Shelter in place
10                Hawaii      Stay at home
11                 Idaho      Stay at home
12              Illinois      Stay at home
13               Indiana      Stay at home
14                Kansas      Stay at home
15              Kentucky      Stay at home
16             Louisiana      Stay at home
17                 Maine      Stay at home
18              Maryland      Stay at home
19         Massachusetts      Stay at home
20              Michigan      Stay at home
21             Minnesota      Stay at home
22           Mississippi  Shelter in place
23              Missouri      Stay at home
24               Montana      Stay at home
25                Nevada      Stay at home
26         New Hampshire      Stay at home
27            New Jersey      Stay at home
28            New Mexico      Stay at home
29              New York      Stay at home
30        North Carolina      Stay at home
31                  Ohio      Stay at home
32              Oklahoma  Shelter in place
33                Oregon      Stay at home
34          Pennsylvania      Stay at home
35           Puerto Rico            Curfew
36          Rhode Island      Stay at home
37        South Carolina      Stay at home
38             Tennessee      Stay at home
39                 Texas      Stay at home
40                  Utah      Stay at home
41               Vermont      Stay at home
42              Virginia      Stay at home
43            Washington      Stay at home
44         West Virginia      Stay at home
45             Wisconsin      Stay at home
46               Wyoming      Stay at home

In [71]:
lockcdown.to_csv("lockcdown.csv", sep=',')