# Pregunta 1

In [1]:
import pandas as pd

In [2]:
poverty = pd.read_excel("pregunta1/est20us.xls", header=[2,3])
covid = pd.read_csv("pregunta1/covid_us_county.csv")

In [3]:
poverty.head(1)

  Geographic Information                             \
         State FIPS Code Postal Code           Name
0                      0          US  United States

                    All Ages                                        \
  Poverty Estimate, All Ages 90% CI Lower Bound 90% CI Upper Bound
0                   38371394           38309115           38433673

                                                                       \
  Poverty Percent, All Ages 90% CI Lower Bound.1 90% CI Upper Bound.1
0                      11.9                 11.9                 11.9

                    Age 0-17  ... Age 5-17 in Families  \
  Poverty Estimate, Age 0-17  ... 90% CI Upper Bound.1
0                   11204423  ...                 14.9

  Median Household Income                                        \
  Median Household Income 90% CI Lower Bound 90% CI Upper Bound
0                   67340              67251              67429

                    Age 0-4                                        \
  Poverty Estimate, Age 0-4 90% CI Lower Bound 90% CI Upper Bound
0                   3146325            3133736            3158914


  Poverty Percent, Age 0-4 90% CI Lower Bound.1 90% CI Upper Bound.1
0                     16.8                 16.7                 16.9

[1 rows x 30 columns]

In [4]:
covid.head(1)

,fips,county,state,lat,long,date,cases,state_code,deaths
0,1001.0,Autauga,Alabama,32.539527,-86.644082,2020-01-22,0,AL,0

In [5]:
poverty = poverty.drop(labels=["Age 0-17", "Age 5-17 in Families", "Age 0-4"], axis=1, level=0)
poverty = poverty.droplevel(level=0, axis=1)
poverty = poverty.drop(labels=(["State FIPS Code", "Postal Code", "90% CI Lower Bound", "90% CI Upper Bound", 
                      "90% CI Lower Bound.1", "90% CI Upper Bound.1", "90% CI Lower Bound", "90% CI Upper Bound"]), axis=1)
povertyGeneral = poverty.loc[[0]]
poverty = poverty.drop(labels=([0]), axis=0)

In [6]:
covid = covid[covid.date.str.contains("2020")]
covid = covid.drop(labels=["fips", "county", "state_code", "date"], axis=1)

In [7]:
cases = covid.groupby(["state"])["cases"].sum().tolist()
deaths = covid.groupby(["state"])["deaths"].sum().tolist()

In [8]:
covid = covid.groupby(["state"]).first().reset_index()

covid["cases"] = cases
covid["deaths"] = deaths

In [9]:
listSts = covid["state"].tolist()
Names = poverty["Name"].tolist()
labels = []
for i in range(len(listSts)):
    if listSts[i] not in Names:
        labels.append(str(listSts[i]))
newCovid = covid[~covid["state"].isin(labels)]

In [10]:
p1 = pd.merge(newCovid, poverty, how='inner', left_on = 'state', right_on = 'Name')
p1 = p1.drop(labels=["Name"], axis=1)
p1.head(2)

,state,lat,long,cases,deaths,"Poverty Estimate, All Ages","Poverty Percent, All Ages",Median Household Income
0,Alabama,32.539527,-86.644082,32296555,526355,714568,14.9,53958
1,Alaska,55.322224,-161.972202,2875733,14154,68714,9.6,79961

In [11]:
p1.to_csv("Pregunta 1.csv", sep=',')

In [19]:
print(newCovid.info())
print(poverty.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51 entries, 0 to 57
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   state   51 non-null     object
 1   lat     51 non-null     float64
 2   long    51 non-null     float64
 3   cases   51 non-null     int64
 4   deaths  51 non-null     int64
dtypes: float64(2), int64(2), object(1)
memory usage: 2.4+ KB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 51 entries, 1 to 51
Data columns (total 4 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Name                        51 non-null     object
 1   Poverty Estimate, All Ages  51 non-null     int64
 2   Poverty Percent, All Ages   51 non-null     float64
 3   Median Household Income     51 non-null     int64
dtypes: float64(1), int64(2), object(1)
memory usage: 2.0+ KB
None